.nav{
    width: 100%;
    /* margin: 0.5%; */
    background-color:darkgoldenrod;
    display: flex;
    justify-content: space-between;
}

.fields{
    margin: 3%;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.cartbtn{
    margin-right: 1%;
}
